.background{
    background-color: rgb(80, 119, 197);
}
.center{
 height: 650px;
 
 overflow: auto;
}
.bordercolor{
    border: 2px solid rgb(80, 119, 197) ;
}
.bordercolor:hover{
    outline: 3px solid rgb(80, 119, 197) ;
}
.btnClass{
    background-color:  rgb(80, 119, 197);
}
.btnClass:hover{
    background-color:rgb(48, 107, 225) ;
}
